# =========================
# BACKEND
# =========================

bin/
obj/

# =========================
# FRONTEND
# =========================

node_modules/
dist/

# =========================
# ENV
# =========================

.env
.env.local

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db